<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
   connectionString="Data Source=127.0.0.1;Initial Catalog=rasala;User ID=ashish9;PWD=3yKHRCZH;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="rasalaCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=rasala;UID=ashish9;PWD=3yKHRCZH;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=ashish9;PWD=3yKHRCZH;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=ashish9;PWD=3yKHRCZH;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS"
   connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=ashish9;PWD=3yKHRCZH;Persist Security Info=True"
   providerName="System.Data.SqlClient" />
</connectionStrings>