<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=ashish9;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="rasalaCS"
       connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=ashish9;integrated security=True;Persist Security Info=True"
       providerName="System.Data.SqlClient" />
  <add name="NorthwindCS"
   connectionString="Data Source=mssql2005.development.ccs.neu.edu;Initial Catalog=Northwind;integrated security=True;Persist Security Info=True"
   providerName="System.Data.SqlClient" />

</connectionStrings>